.g-hd{width: 100%;}

.g-hd .m-nav{background: #2A2329;height: 46px;}
.g-hd .m-nav ul{height: 46px;}
.g-hd .m-nav ul li{float: left;height: 46px;display: block;}
.g-hd .m-nav ul li a{color: #fff;font-size: 14px;display: block;height: 46px;line-height: 46px;padding-left:15px;padding-left:60px;}
.g-hd .m-nav ul li a:hover{opacity: 0.7;}
.g-hd .m-nav ul .big a{padding: 0 60px;background: #FE2C0A;}

.g-hd .m-crumbs{background: #FFF;width:100%;height: 32px;line-height: 32px;}
.g-hd .m-crumbs a{color: #999;font-size: 12px;}
.g-hd .m-crumbs span{color: #999;font-size: 12px;}

.g-bd{margin:15px auto 0;width: 1020px;}

.g-bd .g-left{width: 752px; float: left;overflow: hidden;}


.g-bd .g-left .m-category{height: 60px;background: #F5F6F4;overflow: hidden;}
.g-bd .g-left .m-category ul{height: 60px;}
.g-bd .g-left .m-category ul li{float: left;height: 60px;}
.g-bd .g-left .m-category ul li a{line-height: 60px;height: 58px;display: block;margin-left:15px;  font-size: 14px;}
.g-bd .g-left .m-category ul li .active{border-bottom: 2px solid #FF4A00;color: #FF4A00;}
.g-bd .g-left .m-category ul li a:hover{cursor: pointer;color: #FF4A00;}

.g-bd .g-left .m-hot-list{height: 1511px;margin: 0; background: #FFF;padding:30px;overflow: hidden;}
.g-bd .g-left .m-hot-list .fiter{float: left;}
.g-bd .g-left .m-hot-list .fiter .no-border{border:none;}
.g-bd .g-left .m-hot-list .fiter a{float: left;font-size: 13px;margin-right: 15px;border-right: 2px solid #aaa;padding-right: 15px;}
.g-bd .g-left .m-hot-list .fiter a:hover{cursor: pointer;color: #FF4A00;}
.g-bd .g-left .m-hot-list .btn-public{width: 152px;text-align: center; height: 38px;line-height: 38px;
 background: #FD6A2C;color: #FFF;display: block;float: right;font-size: 15px;}
.g-bd .g-left .m-hot-list .btn-public:hover{cursor: pointer;}
.g-bd .g-left .m-hot-list ul{margin-top: 30px;display: block;border-bottom:1px solid #ddd;}
.g-bd .g-left .m-hot-list ul li{border-top: 1px solid #DDD;height: 78px;position: relative;width: 100%;}
.g-bd .g-left .m-hot-list ul li .img{height: 48px;width: 48px;position: absolute;top:15px;left:15px;}
.g-bd .g-left .m-hot-list ul li .title{position: absolute;top:18px;left:80px;width: 100%;overflow: hidden;}
.g-bd .g-left .m-hot-list ul li .title .text{display: block;max-width: 470px;margin-right: 15px;
	overflow: hidden;white-space: nowrap;text-overflow: ellipsis;font-size: 14px;float: left;}
/*标题颜色*/
.g-bd .g-left .m-hot-list ul li .title .text-good{color: #0000FF;}
.g-bd .g-left .m-hot-list ul li .title .text-top{color: #FF0000;}
.g-bd .g-left .m-hot-list ul li .title .text-hot{color: #3E3A39;}
.g-bd .g-left .m-hot-list ul li .title .text-recomond{color: #3E3A39;}
.g-bd .g-left .m-hot-list ul li .title .text-share{color: #3E3A39;}
.g-bd .g-left .m-hot-list ul li .title .text-gift{color: #3E3A39;}
/*tag颜色*/

.g-bd .g-left .m-hot-list ul li .title .tag{display: block;float: left; color: #FFF;
	font-size: 12px;border-radius: 4px;padding: 2px 4px;margin-right: 2px;}
.g-bd .g-left .m-hot-list ul li .title .tag-good{background: #360D57;}
.g-bd .g-left .m-hot-list ul li .title .tag-top{background: #4DAAC5;}
.g-bd .g-left .m-hot-list ul li .title .tag-hot{background: #FD0B15;}
.g-bd .g-left .m-hot-list ul li .title .tag-recommend{background: #ED2E2C;}
.g-bd .g-left .m-hot-list ul li .title .tag-share{background: #9ECA50;}
.g-bd .g-left .m-hot-list ul li .title .tag-gift{background: #EEAE40;}

.g-bd .g-left .m-hot-list ul li .info{position: absolute;top:38px;left:80px;width: 500px;}
.g-bd .g-left .m-hot-list ul li .info a{color: #AAA;font-size: 12px;margin-right: 5px;}
.g-bd .g-left .m-hot-list ul li .desc{letter-spacing: 1px; width: 400px;height: 66px;overflow: hidden; position: absolute;top:116px;
    left:300px;font-size: 14px;line-height: 1.4;color: #727171;}

.g-bd .g-left .m-hot-list ul li .count{position: absolute;top:45px;right:0;width: 180px;overflow: hidden;}
.g-bd .g-left .m-hot-list ul li .count a{margin-left: 5px;}
.g-bd .g-left .m-hot-list ul li .count .view-count{float: right;font-size: 12px;color: #B9B3AE;display: block;height: 10px;line-height: 10px;}
.g-bd .g-left .m-hot-list ul li .count .icon-view-count{float: right;display: block;background: url("../img/icon点击10x10.png?__sprite");width: 10px;height: 10px;}
.g-bd .g-left .m-hot-list ul li .count .comment-count{float: right;font-size: 12px;color: #B9B3AE;display: block;height: 10px;line-height: 10px;}
.g-bd .g-left .m-hot-list ul li .count .icon-comment-count{float: right;display: block;background: url("../img/icon-消息10x10.png?__sprite");width: 10px;height: 10px;}


.g-bd .g-left .m-hot-list .page-bar{margin-top: 15px;}
.g-bd .g-left .m-hot-list .page-bar ul{}
.g-bd .g-left .m-hot-list .page-bar ul li{}
.g-bd .g-left .m-hot-list .page-bar ul li a{}

.g-bd .g-right{width: 253px;float: left;margin-left: 15px;}

/* ================================== 右侧 ================================== */

/* 业主访问 */
.g-bd .g-right .m-interview{background: #FFF;height: 336px;padding:16px;}
.g-bd .g-right .m-interview .img{display: block;height: 176px;width: 220px;overflow: hidden; margin-top: 15px;background: #EEE;}
.g-bd .g-right .m-interview .title{display: block;font-size: 14px;color: #444;height: 24px;line-height: 24px;margin-top: 15px;}
.g-bd .g-right .m-interview .time{display: block;font-size: 12px;color: #999;height: 24px;line-height: 24px;}
.g-bd .g-right .m-interview .desc{display: block;font-size: 12px;color: #666;height: 50px;}
.g-bd .g-right .m-interview .btn-link{display: block;float: right;font-size: 12px;color: #4980A9;}


/* 热门活动 */
.g-bd .g-right .m-hot-activity{background: #FFF;padding:16px;margin-top: 15px;}
.g-bd .g-right .m-hot-activity .img{display: block;height: 150px;width: 220px;overflow: hidden; margin-top: 15px;background: #EEE;}

/* 热门杂志 */
.g-bd .g-right .m-magazine{background: #FFF;padding:16px;height: 300px;margin-top: 15px;}
.g-bd .g-right .m-magazine .img{display: block;margin-top: 15px;background: #EEE;}

/* 二维码 */
.g-bd .g-right .m-qrcode{background: #FFF;padding:16px;height: 244px;margin-top: 15px;}
.g-bd .g-right .m-qrcode .img{display: block;margin-top: 15px;}

/*底部*/
.g-ft{width: 100%;margin-top: 15px;}
.g-ft .m-comment{height: 450px;background: #FFF;margin-bottom: 15px;}