body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:30px;
  width:200px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:80px;
  width:370px;
  height:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:16px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:450px;
  top:80px;
  width:200px;
  height:16px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:40px;
  top:120px;
  width:200px;
  height:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:150px;
  width:880px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:863px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:880px;
  height:1px;
}
#u9 {
  position:absolute;
  left:40px;
  top:170px;
  width:200px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:40px;
  top:202px;
  width:200px;
  height:80px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:80px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:40px;
  top:282px;
  width:200px;
  height:32px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:32px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:40px;
  top:340px;
  width:200px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:44px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:40px;
  top:400px;
  width:610px;
  height:80px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:80px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:30px;
  top:490px;
  width:470px;
  height:48px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  height:48px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:470px;
  word-wrap:break-word;
}
