body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:950px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:30px;
  top:22px;
  width:97px;
  height:28px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:10px;
  top:50px;
  width:940px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:923px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:940px;
  height:1px;
}
#u3 {
  position:absolute;
  left:10px;
  top:70px;
  width:100px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4 {
  position:absolute;
  left:10px;
  top:170px;
  width:292px;
  height:95px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:143px;
  top:0px;
  width:144px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:143px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:143px;
  top:30px;
  width:144px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:60px;
  width:143px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:143px;
  top:60px;
  width:144px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:140px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:460px;
  top:170px;
  width:215px;
  height:95px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:30px;
  width:210px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:60px;
  width:210px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:7px;
  width:206px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:670px;
  top:170px;
  width:145px;
  height:95px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u26 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:30px;
  width:140px;
  height:30px;
  text-align:center;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u28 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:60px;
  width:140px;
  height:30px;
  text-align:center;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u30 {
  position:absolute;
  left:2px;
  top:7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:700px;
  top:208px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#000099;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:346px;
  top:293px;
  width:477px;
  height:45px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:477px;
  height:45px;
}
#u34 {
  position:absolute;
  left:2px;
  top:14px;
  width:473px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:297px;
  top:170px;
  width:168px;
  height:95px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:30px;
  width:163px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:60px;
  width:163px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:159px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:10px;
  top:110px;
  width:140px;
  height:22px;
}
#u42_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u43 {
  position:absolute;
  left:176px;
  top:108px;
  width:60px;
  height:25px;
}
#u43_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u44 {
  position:absolute;
  left:10px;
  top:352px;
  width:440px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:440px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:700px;
  top:237px;
  width:80px;
  height:15px;
  font-size:12px;
  color:#000099;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:15px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
