body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:920px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:11px;
  top:24px;
  width:200px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:40px;
  width:910px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:893px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:910px;
  height:1px;
}
#u3 {
  position:absolute;
  left:11px;
  top:60px;
  width:89px;
  height:25px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u4 {
  position:absolute;
  left:120px;
  top:196px;
  width:278px;
  height:95px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
  text-align:center;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u6 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:120px;
  top:0px;
  width:153px;
  height:30px;
  text-align:center;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u8 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:30px;
  width:120px;
  height:30px;
  text-align:center;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:120px;
  top:30px;
  width:153px;
  height:30px;
  text-align:center;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u12 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:60px;
  width:120px;
  height:30px;
  text-align:center;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u14 {
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:120px;
  top:60px;
  width:153px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:131px;
  top:60px;
  width:59px;
  height:25px;
}
#u17_input {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u18 {
  position:absolute;
  left:20px;
  top:196px;
  width:105px;
  height:95px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u22 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  text-align:center;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u24 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:60px;
  top:233px;
  width:20px;
  height:16px;
}
#u26 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u27 {
  position:absolute;
  left:60px;
  top:204px;
  width:20px;
  height:16px;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:60px;
  top:264px;
  width:20px;
  height:16px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:11px;
  top:155px;
  width:200px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background-image:;
  text-align:left;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u32 {
  position:absolute;
  left:221px;
  top:155px;
  width:70px;
  height:25px;
}
#u32_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:25px;
  background-image:url(../../resources/images/transparent.gif);
  text-align:center;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
#u33 {
  position:absolute;
  left:20px;
  top:376px;
  width:650px;
  height:80px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:80px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:453px;
  top:311px;
  width:240px;
  height:45px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:45px;
}
#u36 {
  position:absolute;
  left:2px;
  top:14px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:393px;
  top:196px;
  width:202px;
  height:95px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
  text-align:center;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:7px;
  width:193px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:0px;
  top:30px;
  width:197px;
  height:30px;
  text-align:center;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:7px;
  width:193px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:60px;
  width:197px;
  height:30px;
  text-align:center;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
}
#u43 {
  position:absolute;
  left:2px;
  top:7px;
  width:193px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:590px;
  top:196px;
  width:105px;
  height:95px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  color:#0000FF;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:11px;
  top:108px;
  width:109px;
  height:22px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background-image:;
  font-family:'Arial';
  font-size:13px;
  color:#000000;
  font-weight:normal;
  font-style:normal;
  text-decoration:none;
}
